<mat-card *ngIf="contact">
  <div>
    <mat-form-field appearance="outline">
      <mat-label *ngIf="contact.editing">Full Name</mat-label>
      <input matInput [(ngModel)]="contact.name" placeholder="Full Name" [disabled]="!contact.editing"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label *ngIf="contact.editing">Address</mat-label>
      <input matInput [(ngModel)]="contact.address" [disabled]="!contact.editing"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label *ngIf="contact.editing">Email</mat-label>
      <input matInput [(ngModel)]="contact.email" [disabled]="!contact.editing"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label *ngIf="contact.editing">Phone Number</mat-label>
      <input matInput [(ngModel)]="contact.phone" [disabled]="!contact.editing"/>
    </mat-form-field>
    <button *ngIf="!contact.editing" mat-stroked-button (click)="edit()">Edit</button>
    <button *ngIf="contact.editing" mat-stroked-button (click)="save()">Save</button>
    <button *ngIf="contact.editing" mat-stroked-button (click)="delete()">Delete</button>
  </div>
</mat-card>
