<mat-card class="contact" [class.editing]="contact.editing" *ngIf="contact">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input
        matInput
        [(ngModel)]="contact.name"
        [disabled]="!contact.editing"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input
        matInput
        [(ngModel)]="contact.address"
        [disabled]="!contact.editing"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        [(ngModel)]="contact.email"
        [disabled]="!contact.editing"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        [(ngModel)]="contact.phone"
        [disabled]="!contact.editing"
      />
    </mat-form-field>
    <button *ngIf="!contact.editing && canEdit" mat-stroked-button (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button
      *ngIf="contact.editing"
      mat-stroked-button
      (click)="save()"
      [disabled]="!valid"
    >
      Save
    </button>
    <button
      *ngIf="contact.editing"
      mat-stroked-button
      color="warn"
      (click)="delete()"
    >
      Delete
    </button>
  </div>
</mat-card>
