<mat-card id="contact-card">
  <mat-card-title id="contact-title">Contact Master 3000</mat-card-title>
  <mat-card>
    Sort By:
    <mat-radio-group (change)="changed('sortType', $event)" [value]="sortType">
      <mat-radio-button value="name">Name</mat-radio-button>
      <mat-radio-button value="address">Address</mat-radio-button>
      <mat-radio-button value="email">Email</mat-radio-button>
      <mat-radio-button value="phone">Phone</mat-radio-button>
    </mat-radio-group>
  </mat-card>
  <mat-card>
    Sort Order:
    <mat-radio-group
      (change)="changed('sortOrder', $event)"
      [value]="sortOrder"
    >
      <mat-radio-button value="asc">Ascending</mat-radio-button>
      <mat-radio-button value="desc">Descending</mat-radio-button>
    </mat-radio-group>
  </mat-card>
  <div id="contact-list">
    <mat-card *ngIf="contacts.length === 0">
      <h3>No contacts found, please add one!</h3>
    </mat-card>
    <div *ngFor="let contact of contacts; let i = index" @fadeIn>
      <app-contact
        [contact]="contact"
        [canEdit]="canEditOrAdd"
        (onSave)="save($event)"
        (onDelete)="delete($event)"
      >
      </app-contact>
    </div>
  </div>
  <button
    mat-stroked-button
    color="accent"
    (click)="add()"
    [disabled]="!canEditOrAdd"
  >
    Add new Contact
  </button>
</mat-card>
