/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(55, 55, 55);
}

.mat-stroked-button {
    /* bad practice important works for now */
    margin-top: 10px !important;
    margin-left: 10px !important;
}

.mat-radio-button {
    /* bad practice important works for now */
    margin-left: 10px !important;
}

.mat-form-field {
    margin-top: 10px;
    margin-left: 10px;
}

/* SCROLLBAR STYLES */

::-webkit-scrollbar {
    width: 20px;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    border: 1px solid rgb(95, 95, 95);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgb(20, 20, 20);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 30, 30);
}
